<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Progressive Test">
    <classes>
   
      <class name="com.cerotid.progressive.test.ProgressivePageTest"/>
      
    </classes>
    
  </test> <!-- Test -->
   <test thread-count="5" name="Google Test">
    <classes>
    <class name="com.cerotid.google.test.GooglePageTest"/>
      
      
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
